<!-- css class selector-->
.one{
    font-family: 'Dancing Script', cursive;
font-family: 'Koulen', cursive;
font-family: 'Moon Dance', cursive;
}
.two{
    font-family: 'Dancing Script', cursive;
font-family: 'Koulen', cursive;
font-family: 'Moon Dance', cursive;
font-family: 'Work Sans', sans-serif;
}

